* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f4f4f4;
}
.carousel {
    
    position: relative;
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
    /* border: 1px solid red; */
    overflow: hidden;
}

.slides  {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 600%;
    height: 500px;
}

img { 
    width: 100%;
    object-fit: cover;
}

.radioBtnsParent {
    letter-spacing: 12px;
    text-align: center;
}
#slide1:checked ~ .slides { transform: translateX(0%); }
#slide2:checked ~ .slides { transform: translateX(-100%); }
#slide3:checked ~ .slides { transform: translateX(-200%); }
#slide4:checked ~ .slides { transform: translateX(-300%); }
#slide5:checked ~ .slides { transform: translateX(-400%); }
#slide6:checked ~ .slides { transform: translateX(-500%); }
