html, body {
    background-color: #EFE1E1;
    height: 100%;
}
.titleContainer {
    display: flex;
    justify-content: center;
}
.gameTitle {
    font-size: 40px;
    margin-top: 20px;
}
.XOGameContainer {
    height: 360px;
    width: 360px;
    border: 1px solid black;
    background-color: white;
    margin-top: 20px;
    margin-left: 10px;
}
.rowGrid {
    height: 119px;
    border: 1px solid black;
    background-color: white;
    /*padding-left: 10px;*/
    display: flex;

}
.xoBoxInGrid {
    border: 1px solid black;
    width: 119px;
    height: 119px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.xoWord {
    font-size: 44px;
}