body {
    background-color: white;
    /* border: 1px solid red; */
    margin: -8px;
    padding: 4px;
    height: 100vh;
}
p {
    margin: 0;
}
.titleContainer {
    display: flex;
    justify-content: center;
    position: sticky;
    background-color: #233352;
    color: white;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 26px;
}
.weeklyView {
    margin-top: -30px;
}
.sunToSatContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    margin-top: 10px;
    /*border: 2px solid red;*/
    align-items: center;
    @media screen and (min-width: 768px) {
        background-image: url(border-redflower.png);
        background-repeat: repeat; 
        background-size: contain;
    }
}
.image {
    /*border: 2px solid black;*/
    width: 220px;
    height: 80px;

    @media screen and (min-width: 767px) { /*apply this if the browser width is less than or equal to 768px*/
        display: none;    
         
    }
}

.sunToSat {
    display: inline-flex;
    justify-content: center;
    font-size: 25px;
    border-radius: 5px;
    margin-left: 12px;
    padding: 7px 18px;
    margin-top: 0;
    margin-bottom: 0;
    /* box-shadow: 0 4px 6px #487fa5; */
    background-color: white;
    border: 1px solid black;
    font-family: "Parisienne", cursive;
}
.dateNDayDiv {
    display: inline-flex;
    flex-direction: row;
    /* border: 1px solid rebeccapurple; */
    align-items: center;
    margin-top: -50px;
}
.dailyDiv {
    border: 10px solid transparent;
    box-shadow: inset 0 -5px 5px -5px gray;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 20px 20px 15px 20px; /* top and horizontal padding*/
    /* border-radius: 10px; */
}
.date {
    display: inline-flex;
    font-size: 18px;
    background-color: rgb(70, 67, 67);
    color: white;
    /* color: #70587C; */
    padding: 4px 8px;
    border-radius: 5px;

    
}
.day {
    color: #280a36;
    font-size: 28px;
    padding-left: 12px;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    /* border: 1px solid greenyellow; */
}
li {
    font-family: 'Poppins', sans-serif;
}
.scrollToBottomBtn {
    all: unset;
    margin: 10px;
    position: fixed;
    /* border: 2px solid red; */
    font-size: 24px;
    bottom: 30px;
    right: 25px;
    border-radius: 60%;
    padding: 5px 15px;
    margin-bottom: 20px;
    background-color: #e5eff5;
    box-shadow: 0 4px 6px #e5eff5;
}