.joyfulMelodies {
    text-align: center;
    font-size: 50px;
}
.subtitle1 {
    text-align: center;
    font-size: 18px;
}
.subtitle2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;    /* Vertical box layout */
    -webkit-line-clamp: 2; /* Show only 3 lines */
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.searchParent {
    display: flex;
    justify-content: center;
}
.searchInput {
    text-align: center;
    font-size: 30px;
}
p {
    font-size: 30px;
}
.container {
    text-align: center;
}