.heading {
    text-align: center;
    font-size: 50px;
    background-color: #ffc5d3;
    padding: 50px;
    margin: 0;
    position: sticky;
    top:0;
    margin: -8px;
    width: 100%;
    font-family: "Great Vibes", cursive;
}
.subtitle1 {
    /* margin-top: 140px; */
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.searchParent {
    display: flex;
    justify-content: center;
}
.searchInput {
    text-align: center;
    font-size: 20px;
    margin-top: 4px;
    background-color: #ccc1c4;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
}
.searchInput::placeholder{
    color:white;
}
p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.noResultsFound {
    text-align: center;
    font-size: 30px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    width: 80%;
    margin: auto;
}