body {
    margin-bottom: 50%;
}
.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    font-size: 35px;
    font-family: "M PLUS Rounded 1c", sans-serif;
}
.subheader {
    margin-top: 0px;
}
.verseHeader {
    font-weight: bold;
    font-size: 18px;
    font-family: "Great Vibes", cursive;
}
.sanskritVerse {
    font-family: 'Poppins', sans-serif;
    
}