body {
    margin-bottom: 50%;
}
.subheader {
    margin-top: 0px;
    font-family: "Great Vibes", cursive;
}
.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    font-size: 35px;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.verseHeader {
    font-weight: bold;
    font-size: 18px;
    font-family: "M PLUS Rounded 1c", sans-serif;
}
.sanskritVerse {
    font-family: 'Poppins', sans-serif;
    
}
.sanskritVerse:hover {
    color: rgb(10, 10, 75);
}

.meaningBtn {
    all:unset;
    border: 2px solid rgb(65, 9, 65);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: rgb(65, 9, 65);
    color: whitesmoke;
    font-size: 16px;
    box-shadow: 0 4px 6px rgb(65, 9, 65);
}
/* .meaningBtn:hover {
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: black;
    color: white;
} */
.meaningBtn:active {
    border: 2px solid rgb(86, 18, 18);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: rgb(86, 18, 18);
    color: white;
    box-shadow: 0 4px 6px rgb(86, 18, 18);
    transform: scale(0.95); 
}
