* {
    box-sizing: border-box;
}

.slideshowContainer {
    max-width: 1000px;
    margin: auto;
    /* position: relative; */
}

.mySlides {
    display: none; /*Hide the images by default*/
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    margin: 0 2px;
    /* border: 1px solid black; */
    border-radius: 50%;
    display: inline-block;
}