body {
    margin: 0;
}
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /*take full height*/
}
.heading {
    font-size: 70px;
}
.counter {
    font-size: 120px;
    margin-top: 0;
    
}
.increment {
    background-color: #3b673b;
}
.decrement {
    background-color: rgb(189, 51, 41);
}
.reset {
    background-color: rgb(72, 71, 71);
}
.increment:active{
    background-color: #77c577;
    transform: scale(0.95);   
    color: black; 
}
.decrement:active {
    background-color: #ea928f;
    transform: scale(0.95);
    color: black;    
}
.reset:active {
    background-color: gray; 
    transform: scale(0.95);
    color: black;      
}
button {
    padding: 10px 20px;
    border: none;
    margin: 10px;
    font-size: 20px;
    color: white;
    font-size: 50px;
    border-radius: 10px;
}
@media (max-width: 600px) {
    .heading {
        font-size: 40px;
    }
    .counter {
        font-size: 60px;
    }
    button {
        font-size: 25px;
        padding: 8px 15px;
    }
}
.img-box {
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url("birdimagetopborder.jpg");
    border: none;
}
@media (min-width: 1024px) {
    .img-box {
        background-size: auto;
        background-repeat: repeat;
       
    }
}