.titleParent {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title {
    font-family: "Playwrite DE VA", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 20px;
    background-color: #fefdf9;
    font-size: 35px;
}

button {
    all: unset;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    padding: 10px;
    height: 25px;
    /*border: 1px solid black;*/
    border-radius: 5%;
    background-color: #E0EDEE;
}
button:hover {
    background-color: #475E67;
    color: white;
}
button:active {
    background-color: #475E67;
    color: white;
    transform: translateY(2px);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.image {
    height:100px;
    width:80px;
}

.twoBooksGrid {
    /*margin: 20px;*/
    /*border: 2px solid red;*/
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.bookImgNameDelbtnDiv {
    /*border: 2px solid blue;*/
}