.title {
    font-size: 18px;
    color: #3e3e3e;
    background-color: #fefdf9;
    letter-spacing: 5px;
}

.bookAndDelDiv {
    display: flex;
    justify-content: space-between;
    align-items:center;
    /*border: 2px solid red;*/
}

button {
    height: 21px;
}