.titleParent {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    background: white;
}
.title {
    font-family: "Playwrite DE VA", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 20px;
    font-size: 35px;
}
.mainContent {
    background-color: #EAE1D0;
}
.libraryHeader {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    color: #475E67;
}
button {
    all: unset;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    padding: 10px;
    height: 25px;
    /*border: 1px solid black;*/
    border-radius: 5%;
    background-color: #E0EDEE;
}
button:hover {
    background-color: #475E67;
    color: white;
}
button:active {
    background-color: #475E67;
    color: white;
    transform: translateY(2px);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.image {
    height:140px;
    width:110px;
}

.twoBooksGrid {
    /*margin: 20px;*/
    /*border: 2px solid red;*/
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.bookName {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}
.bookImgNameDelbtnDiv {
    /*border: 2px solid blue;*/
}