.heading {
    text-align: center;
    font-size: 50px;
    background-color: #5cb8bb;
    padding: 25px;
    position: sticky;
    top:0;
    margin: -8px;
    width: 100%;
    font-family: "Great Vibes", cursive;
}
.subtitle1 {
    /* margin-top: 140px; */
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.searchParent {
    display: flex;
    justify-content: center;
}
.searchInput {
    text-align: center;
    font-size: 16px;
    margin-top: 4px;
    border: solid 1px rgb(23, 151, 176);
    border-radius: 20px;
    cursor: pointer;
    padding: 8px 15px;
    color: gray;
}
.addBhajanBtn {
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgb(23, 151, 176);
    border: rgb(23, 151, 176);
    color: white;
    margin: 10px;
}
.addNewBhajanInputBox {
    color: rgb(86, 82, 82);
    background-color: white;
    border-radius: 10px;
    padding: 8px 15px;
}
.searchInput::placeholder{
    color:white;
}
p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.noResultsFound {
    text-align: center;
    font-size: 30px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    width: 80%;
    margin: auto;
}