body {
    background-color: black;
    color: white;
    text-align: center
}
.heading {
    font-size: 40px;
}
.counter {
    font-size: 65px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    
}

button:active {
    transform: scale(0.95);
}

.increment {
    background-color: #4CAF50;
    color: white;
}
.decrement {
    background-color: #f44336;
    color: white;
}
.reset {
    color: white;
    background-color: #555;
}