body {
    /* border: 2px solid red; */
    padding: 10px;
    /* margin: 0; */
    background: #f9f9f9;
    font-size: 45px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    color: rgb(5, 46, 32);
    font-size: 50px;
}
.colourHeading, .fontHeading {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
    padding: 0px 15px;
}
#inputTextField {
    width: 400px;
    height: 25px;
    text-align: center;
    margin: 10px 10px 30px 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 25px;
}
.lobster {
    font-family: 'Lobster', cursive;
}
.montserrat {
    font-family: 'Montserrat', sans-serif;
}
.orbitron {
    font-family: 'Orbitron', sans-serif;
}
.playfair {
    font-family: 'Playfair Display', serif;
}
.poppins {
    font-family: 'Poppins', sans-serif;
}
.raleway {
    font-family: "Raleway", sans-serif;
}
.playwrite-de-va {
    font-family: "Playwrite DE VA", cursive;
}
.greatvibes {
    font-family: "Great Vibes", cursive;
}
.sacramento {
    font-family: "Sacramento", cursive;
}
.dancing-script {
        font-family: "Dancing Script", cursive;
}
.parisienne {
    font-family: "Parisienne", cursive;
}
.satisfy {
  font-family: "Satisfy", cursive;
}