body {
    background-color: black;
    color: white;
    text-align: center
}
.heading {
    font-size: 40px;
}
.counter {
    font-size: 55px;
}

button {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

.increment {
    background-color: #4CAF50;
}
.decrement {
    background-color: #f44336;
}
.reset {
    background-color: #555;
}