.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    font-size: 32px;
}
.buttonContainer {
    /*border: 1px solid black;*/
}
.outer-box {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.moveToTopLeft {
    justify-content: flex-start;
    align-items: flex-start;
}

.moveToLeft {
    justify-content: flex-start;
    align-items: center;
}

.moveToTopRight {
    justify-content: flex-end;
    align-items: flex-start;
}

.moveToBottomRight {
    justify-content: flex-end;
    align-items: flex-end;
}

.moveToTopCenter {
    justify-content: center;
    align-items: flex-start;
}

.moveToBottomCenter {
    justify-content: center;
    align-items: flex-end;
}
.inner-box {
    width: 80px;
    height: 40px;
    border: 2px solid black;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 5px;
}

button {
    all:unset;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;   
    text-align: center;
    display: inline-block; 
    margin: 5px;
}
button:active {
    transform: scale(0.95);
    background-color: gray;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.hurrayMessage {
    font: 20px;
    color: maroon;
}