body {
    margin: 0px;
    height: 100vh;
}
.nav-center {
    display: flex;
    /* border:   2px solid  rebeccapurple   ; */
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.nav-links {
    display: flex;
    gap: 30px;
    /* border: 1px solid yellowgreen; */
    align-items: center;
}
ul {
    padding: 0px;
    list-style:none;
}
a {
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Poppins';
}

.title {
    color: blueviolet;
    letter-spacing: 2px;
    font-family: 'Montserrat';
    /* border: 1px solid yellowgreen; */
}
.parent-ofcentertext {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    flex:1
    /* border: 5px solid peru; */
}
.center-text-big {
    /* border: 2px solid rebeccapurple; */
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
}
.colour {
    margin-top: 10px;
    color: #ffcbe1;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.black-rectangle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn {
    all: unset;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
}